@import "reset.styl"
@import "animation.styl"
@import "transitions.styl"
@import "colors.styl"
@import "fonts.styl"
@import "mixins.styl"

body
  background white

html
  position relative
  height 100%
  min-height 100%

.centralize
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box  
  min-width 320px
  max-width 960px
  margin 0 auto
  padding 0 20px

h1
  font-family Arial
  font-size 37px
  color black
  text-transform uppercase
  text-align center
  margin 20px 0

#loader
  display none
  position absolute
  top 50%
  left 50%
  width 43px
  height 11px
  margin-left -21px
  margin-top -5px

#rescueList
  margin-bottom 40px

  input[type=submit], a
    font-family Arial
    padding 10px 0
    background #42bd44
    border none
    text-align center
    text-transform uppercase
    text-decoration none
    color white
    cursor pointer
    outline none
    display block
    width 100%
  
  form
    input
      font-family museo_sans300
      display block
      width 100%
      margin-bottom 15px
      -webkit-box-sizing border-box
      -moz-box-sizing border-box
      box-sizing border-box  
      padding 8px 10px
      background #f6f6f6
      border 1px solid #e5e5e5
      color black

  ul
    margin-top 20px
    li
      background GRAY
      padding 10px
      margin-bottom 10px
      overflow hidden